* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
i{
    margin: 0rem 0.5rem;
}

i:hover{
    cursor: pointer;
}


@media screen and (max-width:1200px) {

    .woofender,
    .faq {
        display: none;
    }

}